{% extends "index/base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
  <div class="container">
    <div class="card mx-auto mt-5 shadow p-3 mb-5 bg-white rounded" style="max-width: 600px;">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Check your inbox.</h1>
          <p class="text-center">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
