{% extends 'index/base.html' %}

{% block content %}
  <div class="container">
    <div class="card mx-auto mt-5 shadow p-3 mb-5 bg-white rounded" style="max-width: 500px;">
      <div class="card-body">
        <h2 class="text-center">Reset Password</h2>
        <p class="text-center">Enter the email address associated with your account, and we'll email you a link to reset your password.</p>
        <form method="post" action="{% url 'password_reset' %}" class="mx-auto w-75">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary d-block mx-auto">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
