{% autoescape off %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Password Reset</h4>
          <p class="card-text">Hello {{ user.get_username }},</p>
          <p class="card-text">You're receiving this email because you requested a password reset for your user account at Our Site.</p>
          <p class="card-text">Please go to the following page and choose a new password:</p>
          <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="btn btn-primary">Reset Password</a>
          <p class="card-text">Your username, in case you've forgotten: {{ user.get_username }}</p>
          <p class="card-text">Thanks for using our site!</p>
          <p class="card-text">The Our Site team</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endautoescape %}
